@mixin for-desktop-up {
  @media (max-width: 1200px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (max-width: 1050px) { @content; }
}
@mixin for-tablet-medium-up {
  @media (max-width: 860px) { @content; }
}
@mixin for-ipad-up {
  @media (max-width: 768px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (max-width: 575px) { @content; }
}
@mixin for-phone-only {
  @media (max-width: 415px) { @content; }
}


@mixin cut-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}