@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 53px 0;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 36px;
  line-height: 1.6;
  color: inherit;
  @extend %rubik-500;
  color: #436372;

  &__img {
    margin-right: 15px;
  }
}

.menu__logo {
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #436372;
  @extend %rubik-500;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    font-size: 15px;
    line-height: 1;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    color: inherit;
  }

  &__user-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user-item:not(:last-child) {
    margin-right: 20px;
  }

  &__search {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: #edf1f4;
    border-radius: 50%;
    text-align: center;
    margin-right: 20px;
  }

  &__search::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url('../images/icons/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 18px;
    right: 18px;
  }

  &__inner {
    display: flex;
    width: 176px;
    height: 50px;
    border-radius: 25px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fcd7b6;
    margin-right: 20px;
  }

  &__favorites,
  &__cart {
    width: 15px;
    height: 15px;
    position: relative;
  }

  &__favorites::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 16px;
    background-image: url('../images/icons/heart.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__cart::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 17px;
    background-image: url('../images/icons/cart.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__num {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1.7;
    text-align: center;
    top: -7px;
    right: -13px;
    @extend %dmsans-400;
  }

  &__line {
    color: #fde7d3;
    font-size: 30px;
  }

  &__panel {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: #a3bbc8;
    border-radius: 50%;
    text-align: center;
  }

  &__panel::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('../images/icons//panel.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 15px;
    right: 15px;
  }
}

.footer {
  padding: 80px 0 30px;
  font-size: 14px;
  line-height: 1.7;
  
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 70px;
    border-bottom: 1px solid #dae4e9;
    color: #7b7b7b;
  }

  &__logo {
    margin-bottom: 26px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__contacts {
    max-width: 200px;
  }

  &__item-link {
    color: inherit;
  }

  &__item-name {
    text-transform: uppercase;
  }

  &__name {
    margin-bottom: 25px;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.3;
    color: #1f2044;
    text-transform: uppercase;
  }

  &__link {
    color: #7b7b7b;
  }

  &__link:not(:last-child) {
    margin-bottom: 18px;
  }

  &__link-item {
    color: inherit;
  }

  &__newsletter {
    max-width: 270px;
  }

  &__newsletter-text {
    margin-bottom: 30px;
  }

  &__mailto {
    padding: 0 15px;
    max-width: 170px;
    width: 100%;
    height: 40px;
    background-color: #fef7f0;
    border: none;
    @extend %dmsans-400;
    font-size: 12px;
    line-height: 1;
    color: #234969;
  }

  &__mailto::placeholder {
    @extend %dmsans-400;
    font-size: 12px;
    line-height: 1;
    color: #234969;
  }

  &__form {
    display: flex;
  }

  &__btn {
    max-width: 100px;
    min-height: 40px;
    width: 100%;
    border: none;
    background-color: #a3bbc8;
    @extend %dmsans-400;
    font-style: 14px;
    line-height: 1.5;
    color: #ffffff;
    cursor: pointer;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 1.3;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__menu-item:not(:last-child) {
    padding-right: 12px;
    border-right: 1px solid #7b7b7b;
  }

  &__menu-item:not(:first-child) {
    padding-left: 12px;
  }

  &__menu-link {
    color: inherit;
  }
}

.top-slider {

  &__wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item {
    padding: 220px 0 270px;
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__content {
    max-width: 470px;
    width: 100%;
    padding-left: 1px;
  }

  &__title {
    font-size: 72px;
    line-height: 1;
    @extend %rubik-500;
    color: $default;
    text-transform: uppercase;
    margin-bottom: 35px;
  }

  &__text {
    max-width: 370px;
    width: 100%;
    font-size: 18px;
    line-height: 1.7;
    color: #436372;
    margin-bottom: 40px;
  }

  &__link {
    padding: 22px 16px 22px 25px;
    background-color: #a3bbc8;
    color: #ffffff;
    @extend %rubik-500;
    display: inline-block;
  }

  &__arrow {
    margin-left: 60px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 45px;
    li {
      padding: 0 5px;
      button {
        padding: 0;
        font-size: 11px;
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        color: $default;
        @extend %rubik-500;
      }
      &.slick-active {
        button {
          background-color: #ffffff;
        }
       
      }
    }
  }
}






@import 'media';