@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 44px 0 53px;
}

.logo {
  max-width: 146px;

  &__img {
    height: 39px;
    object-fit: cover;
  }
}

.header__logo {
  margin-right: 150px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #436372;
  @extend %rubik-500;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    font-size: 15px;
    line-height: 1;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__link {
    color: inherit;
  }

  &__user-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__user-item:not(:last-child) {
    margin-right: 20px;
  }

  &__search {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: #edf1f4;
    border-radius: 50%;
    text-align: center;
    margin-right: 20px;
  }

  &__search::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url('../images/icons/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 18px;
    right: 18px;
  }

  &__inner {
    display: flex;
    width: 176px;
    height: 50px;
    border-radius: 25px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fcd7b6;
    margin-right: 20px;
  }

  &__favorites,
  &__cart {
    width: 15px;
    height: 15px;
    position: relative;
  }

  &__favorites::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 16px;
    background-image: url('../images/icons/heart.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__cart::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    background-image: url('../images/icons/cart.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__num {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1.7;
    text-align: center;
    top: -7px;
    right: -13px;
    @extend %dmsans-400;
  }

  &__line {
    color: #fde7d3;
    font-size: 30px;
  }

  &__panel {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: #a3bbc8;
    border-radius: 50%;
    text-align: center;
  }

  &__panel::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('../images/icons/panel.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 15px;
    right: 15px;
  }
}

.footer {
  padding: 80px 0 30px;
  font-size: 14px;
  line-height: 1.7;
  
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 43px;
    border-bottom: 1px solid #dae4e9;
    color: #7b7b7b;
  }

  &__logo {
    margin-bottom: 26px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__contacts {
    max-width: 200px;
  }

  &__item-link {
    color: inherit;
  }

  &__item-name {
    text-transform: uppercase;
  }

  &__name {
    margin-bottom: 25px;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 1.3;
    color: #1f2044;
    text-transform: uppercase;
  }

  &__link {
    color: #7b7b7b;
  }

  &__link:not(:last-child) {
    margin-bottom: 18px;
  }

  &__link-item {
    color: inherit;
  }

  &__newsletter {
    max-width: 270px;
  }

  &__newsletter-text {
    margin-bottom: 30px;
  }

  &__mailto {
    padding: 0 15px;
    max-width: 170px;
    width: 100%;
    height: 40px;
    background-color: #fef7f0;
    border: none;
    @extend %dmsans-400;
    font-size: 12px;
    line-height: 1;
    color: #234969;
  }

  &__mailto::placeholder {
    @extend %dmsans-400;
    font-size: 12px;
    line-height: 1;
    color: #234969;
  }

  &__form {
    display: flex;
  }

  &__btn {
    max-width: 100px;
    min-height: 40px;
    width: 100%;
    border: none;
    background-color: #a3bbc8;
    @extend %dmsans-400;
    font-style: 14px;
    line-height: 1.5;
    color: #ffffff;
    cursor: pointer;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 1.3;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
  }

  &__menu-item:not(:last-child) {
    padding-right: 15px;
    border-right: 1px solid #7b7b7b;
  }

  &__menu-item:not(:first-child) {
    padding-left: 15px;
  }

  &__menu-link {
    color: inherit;
  }
}

.top-slider {

  &__wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__item {
    padding: 215px 0 280px;
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__content {
    max-width: 470px;
    width: 100%;
    padding-left: 1px;
  }

  &__title {
    font-size: 72px;
    line-height: 1;
    @extend %rubik-500;
    color: $default;
    text-transform: uppercase;
    margin-bottom: 22px;
  }

  &__text {
    max-width: 370px;
    width: 100%;
    font-size: 18px;
    line-height: 1.7;
    color: #436372;
    margin-bottom: 35px;
  }

  &__link {
    padding: 22px 13px 18px 25px;
    background-color: #a3bbc8;
    color: #ffffff;
    @extend %rubik-500;
    display: inline-block;
  }

  &__arrow {
    margin-left: 60px;
    width: 22px;
    height: 9px;
    fill: #ffffff;
  }

  &__img {
    max-width: 640px;
    min-height: 264px;
    object-fit: cover;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 43px;

    li {
      padding: 0 5px;

      button {
        padding: 0;
        font-size: 11px;
        background-color: #fde3cc;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        color: $default;
        @extend %rubik-500;
      }

      &.slick-active {

        button {
          background-color: #ffffff;
        }
       
      }
    }
  }
}

.info {
  background-color: #fef7f0;
  padding: 37px 0 33px;
  
  &__list {
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
  }

  &__item {
    max-width: 290px;
    padding-left: 77px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 55px;
      height: 55px;
      left: -5px;
      top: 11px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__item--support::before {
    content: "";
    background-image: url('../images/icons/support.png');
  }

  &__item--delivery::before {
    content: "";
    background-image: url('../images/icons/delivery.png');
    left: -4px;
    top: -3px;
  }

  &__item--payment::before {
    content: "";
    background-image: url('../images/icons/payment.png');
  }
  
  &__title {
    color: #414141;
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 2.1;
  }

  &__text {
    @extend %dmsans-400;
    color: #585858;
    line-height: 1.9;
  }
}

.products {
  padding: 75px 0 0;
  text-align: center;
  
  &__title {
    margin-bottom: 29px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(380px, auto) minmax(380px, auto);
    grid-gap: 30px;
    margin-bottom: 80px;
  }

  &__item {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
  }

  &__choice {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    transition: opacity .5s ease;
  }

  &__item:hover {
    .products__choice {
      opacity: 1;
    }
  }

  &__img {
    margin: 0 auto;
    height: 195px;
    object-fit: scale-down;
    object-position: bottom;
    margin-bottom: 33px;
  }

  &__choice-inner {
    display: flex;
    justify-content: space-between;
    max-width: 165px;
    margin: 0 auto;
  }

  &__choice-link {
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    transition: background-color .5s ease;
  }

  &__choice-link:not(:last-child) {
    margin-right: 15px;
  }

  &__choice-link svg {
    margin-top: 13px;
  }

  &__choice-search {
    width: 20px;
    height: 20px;
    fill: #a3bbc8;
  }

  &__choice-cart {
    width: 22px;
    height: 20px;
    fill: #a3bbc8;
  }

  &__choice-wish {
    width: 22px;
    height: 18px;
    fill: #a3bbc8;
  }

  &__choice-link:hover {
   background-color: #a3bbc8;
   .products__choice-search,
   .products__choice-cart,
   .products__choice-wish {
      fill: #ffffff;
    }
  }

  &__caption {
    @extend %dmsans-500;
    color: $default;
    font-size: 16px;
    line-height: 2.5;
  }

  &__price {
    @extend %dmsans-700;
    color: #a3bbc8;
    line-height: 2.5;
  }
  
  &__shine {
    margin-top: 195px;
  }

  &__lamp {
    display: flex;
    justify-content: space-between;
    color: $default;
  }

  &__lamp-item {
    max-width: 870px;
    width: 100%;
    background-color: #feefe2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 82px;
  }

  &__lamp-img {
    margin-top:  -97px;
  }

  &__lamp-content {
    max-width: 350px;
    width: 100%;
    text-align: left;
  }

  &__lamp-left {
    padding: 60px 0 0 10px;
  }

  &__lamp-right {
    padding: 63px 0 0 59px;
  }

  &__lamp-title {
    font-size: 26px;
    line-height: 1.2;
    @extend %dmsans-700;
  }

  &__lamp-text {
    line-height: 1.9;
    margin: 15px 0 46px;
  }

  &__lamp-link {
    padding: 18px 17px 20px;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    color: $default;
  }

  &__arrow {
    width: 22px;
    height: 9px;
    fill: #436372;
    margin-left: 45px;
  }
}

.filter {
  text-align: center;
  &__btn {
    line-height: 1;
    background-color: #ffffff;
    border: none;
    @extend %dmsans-700;
    margin-bottom: 80px;
    color: #8b8b8b;
    cursor: pointer;
    transition: color .5s ease;
  }

  &__btn:hover,
  .mixitup-control-active {
    color: $title;
  }

  &__btn:not(:last-child) {
    margin-right: 15px;
  }
}

.new-design {
  padding: 100px 0 120px;

  &__title {
    margin-bottom: 25px;
  }

  &__inner {
    margin-bottom: 118px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(246px, auto) minmax(246px, auto);
    grid-gap: 30px 34px;
    
  }

  &__item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 39px 134px 0 37px;
  }
  
  &__link {
    @extend %dmsans-700;
  }

  &__subtitle {
    color: $title;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 17px;
  }

  &__style {
    color: #a3bbc8;
  }
}

.video {
  min-height: 501px;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;


  &__link {
    position: relative;
    padding: 64px;

    &::before{
      content: "";
      position: absolute;
      width: 127px;
      height: 127px;
      background-image: url('../images/icons/play-btn.svg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      top: 0;
      left: 0;
    }
  }
}

.news {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 48px;
  }

  &__more {
    padding-right: 25px;
    position: relative;

    &::after {
      content: ">";
      position: absolute;
      right: 0;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    width: 100%;
    position: relative;
  }

  &__img {
    height: 250px;
    object-fit: cover;
  }

  &__label {
    @extend %poppins-700;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #a3bbc8;
    border-radius: 15px;
    padding: 7px 30px 5px;
    color: #ffffff;
    position: absolute;
    top: 233px;
    left: 29px;
    line-height: 1.4;
  }

  &__content {
    padding: 35px 50px 18px 30px;
    background-color: #ffffff;
  }

  &__text {
    @extend %dmsans-500;
    font-size: 18px;
    line-height: 1;
    color: #262626;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
    margin-bottom: 7px;
    min-height: 80px;
  }

  &__info {
    font-size: 12px;
    line-height: 2.5;
    color: #222933;
  }

  &__date {
    margin-right: 30px;
  }
}

.partners {
  background-color: #fef7f0;
  padding: 266px 0 81px;
  margin-top: -169px;

  .slick-slider {
    padding: 0 50px;
  }

  &__logo {
    height: 84px;
    object-fit: scale-down;
    object-position: center;
  }
}








@import 'media';


