.news {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 48px;
    @include for-phone-only  {
      flex-wrap: wrap;
      margin-bottom: 25px;
    }
  }

  &__title {
    @include for-phone-only  {
      text-align: left;
      margin-bottom: 10px;
    }
  }

  &__more {
    padding-right: 25px;
    position: relative;
    transition: color .5s ease;

    &:hover {
      color: $accent;
    }

    &::after {
      content: ">";
      position: absolute;
      right: 0;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    @include for-tablet-landscape-up {
      justify-content: space-around;
    }
  }

  &__item {
    max-width: 370px;
    position: relative;
    @include for-desktop-up {
      max-width: 320px;
    }
    @include for-tablet-landscape-up {
      &:nth-child(3) {
        display: none;
      }
    }
    @include for-tablet-medium-up {
      max-width: 255px;
    }
    @include for-tablet-portrait-up {
      &:nth-child(2) {
        display: none;
      }
    }
  }

  &__img {
    width: 370px;
    height: 250px;
    object-fit: cover;
  }

  &__label {
    @extend %poppins-700;
    font-size: 14px;
    text-transform: uppercase;
    background-color: $accent;
    border-radius: 15px;
    padding: 7px 30px 5px;
    color: #ffffff;
    position: absolute;
    top: 233px;
    left: 29px;
    line-height: 1.4;
  }

  &__content {
    padding: 35px 50px 18px 30px;
    background-color: #ffffff;
    min-height: 192px;
    @include for-tablet-medium-up {
     min-height: 175px
    }
  }

  &__text {
    @extend %dmsans-500;
    font-size: 18px;
    line-height: 1.2;
    color: #262626;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
    margin-bottom: 7px;
    min-height: 80px;
    transition: color .5s ease;
    -webkit-line-clamp: 4;
    @include cut-text;
    
    &:hover {
      color: $accent;
    }
    @include for-tablet-medium-up  {
      font-size: 15px;
    }
  }

  &__info {
    font-size: 12px;
    line-height: 2.5;
    color: #222933;
  }

  &__date {
    margin-right: 30px;
    @include for-tablet-medium-up  {
      margin-right: 10px;
    }
  }

  &__author {
    transition: color .5s ease;

    &:hover {
      color: $accent;
    }
  }
}

.partners {
  background-color: #fef7f0;
  padding: 266px 0 81px;
  margin-top: -169px;
  @include for-tablet-portrait-up {
    padding: 210px 0 40px;
  }
  @include for-phone-only {
    padding: 190px 0 10px;
  }

  &__logo {
    width: 214px;
    height: 84px;
    object-fit: scale-down;
    object-position: center;
    @include for-tablet-landscape-up {
      padding: 0 10px;
    }
  }
}