.product-card {
  text-align: center;
  width: 270px;
  position: relative;
  transition: opacity .5s ease;
  padding: 25px 0;
  text-align: center;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  @include for-tablet-landscape-up {
    padding-top: 20px;
  }

  &__star, 
  &__text,
  &__buttons {
    display: none;
  }

  &.product-card--list {
    width: 100%;
    height: 500px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;

    .product-card__link {
      width: 370px;
      height: 500px;
      border: 2px solid #f2f2f2;
      display: flex;
      align-items: center;
    }

    .product-card__img {
      margin-bottom: 0;
      width: 300px;
      height: auto;
      object-fit: contain;
    }

    .product-card__name {
      max-width: 470px;
      width: 100%;
      text-align: left;
      padding: 0 30px;
    }

    .product-card__caption {
      font-size: 40px;
      line-height: 1;
      color: #333333;
      margin-bottom: 30px;
    }

    .product-card__choice {
      display: none;
    }

    .product-card__star,
    .product-card__text,
    .product-card__buttons {
      display: block;
    }

    .product-card__star {
      margin-bottom: 35px;
    }

    .product-card__price {
      font-size: 30px;
      line-height: 1.5;
      color: #333333;
    }

    .product-card__text {
      color: $default;
      line-height: 1.9;
      margin: 40px 0;
    }

    .product-card__buttons {
      display: flex;
    }

    .product-card__cart-btn,
    .product-card__wish-btn {
      width: 50px;
      height: 50px;
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
      transition: all .5s ease;
    }

    .product-card__cart-btn {
      margin-right: 12px;
    }

    .product-card__cart-btn:hover,
    .product-card__wish-btn:hover {
      background-color: $accent;

      .product-card__choice-wish,
      .product-card__choice-cart {
        fill: #ffffff;
      }
    } 
  }

  &:hover {
    .product-card__choice {
      opacity: 1;
    }
  }

  &__choice {
    opacity: 0;
    position: absolute;
    top: 185px;
    left: 0;
    right: 0;
    transition: opacity .5s ease;
  }

  &__img {
    margin: 0 auto;
    height: 195px;
    object-fit: scale-down;
    object-position: bottom;
    margin-bottom: 66px;
  }

  &__choice-inner {
    display: flex;
    justify-content: space-between;
    max-width: 165px;
    margin: 0 auto;
  }

  &__choice-link {
    width: 45px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    transition: background-color .5s ease;
    position: relative;
  }

  &__choice-link:not(:last-child) {
    margin-right: 15px;
  }

  &__choice-link svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__choice-search {
    width: 20px;
    height: 20px;
    fill: $accent;
  }

  &__choice-cart {
    width: 22px;
    height: 20px;
    fill: $accent;
  }

  &__choice-wish {
    width: 22px;
    height: 18px;
    fill: $accent;
  }

  &__choice-link:hover {
   background-color: $accent;
   .product-card__choice-search,
   .product-card__choice-cart,
   .product-card__choice-wish {
      fill: #ffffff;
    }
  }

  &__caption {
    @extend %dmsans-500;
    color: $default;
    font-size: 16px;
    line-height: 2.5;
    display: block;
    transition: color .5s ease;
    @include cut-text;
    -webkit-line-clamp: 1;

    &:hover {
      color: $accent;
    }
  }

  &__price {
    @extend %dmsans-700;
    color: $accent;
    line-height: 1.8;
  }
}

.products {
  padding: 75px 0 0;
  text-align: center;
  @include for-tablet-medium-up {
    padding: 40px 0 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 42px 30px;
    margin-bottom: 80px;
    @include for-tablet-landscape-up {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }
    @include for-tablet-medium-up {
      grid-template-columns: repeat(2, 1fr);
    }
    @include for-tablet-portrait-up {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__title {
    margin-bottom: 29px;
  }

  &__shine {
    margin-top: 186px;
    @include for-phone-only {
      margin-top: 100px;
    }
  }

  &__lamp {
    display: flex;
    justify-content: space-between;
    color: $default;
    @include for-tablet-landscape-up {
      flex-wrap: wrap;
    }
  }

  &__lamp-item {
    max-width: 870px;
    width: 100%;
    background-color: #feefe2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 82px;
    &:not(:last-child) {
      @include for-desktop-up {
        margin-right: 10px;
      }
      @include for-tablet-landscape-up{
        margin-right: 0;
        margin-bottom: 110px;
      }
      @include for-phone-only {
        margin-bottom: 80px;
      }
    }
    @include for-tablet-landscape-up {
      max-width: 100%;
      justify-content: space-around;
      padding-bottom: 42px;
    }
    
  }

  &__lamp-img {
    height: 405px;
    object-fit: cover;
    margin-top:  -97px;
    @include for-tablet-portrait-up {
      height: 290px;
    }
    @include for-phone-only {
      height: 200px;
    }
  }

  &__lamp-content {
    max-width: 350px;
    width: 100%;
    text-align: left;
  }

  &__lamp-left {
    padding: 60px 0 0 10px;
    @include for-phone-only {
      padding: 38px 0 0 10px;
    }
  }

  &__lamp-right {
    padding: 63px 0 0 59px;
    @include for-desktop-up {
      padding: 63px 0 0 10px;
    }
    @include for-phone-only {
      padding: 38px 0 0 10px;
    }
  }

  &__lamp-title {
    font-size: 26px;
    line-height: 1.2;
    @extend %dmsans-700;
    transition: color .5s ease;
    @include cut-text;
    -webkit-line-clamp: 2;

    &:hover {
      color: $accent;
    }
    @include for-tablet-portrait-up {
      font-size: 20px;
    }
    @include for-phone-only {
      font-size: 18px;
    }
  }

  &__lamp-text {
    line-height: 1.9;
    margin: 15px 0 46px;
    @include cut-text;
    -webkit-line-clamp: 4;
    @include for-tablet-portrait-up {
      font-size: 12px;
    }
    @include for-phone-only {
      margin: 15px 0 25px;
    }
  }

  &__lamp-link {
    padding: 18px 83px 20px 22px;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    color: $default;
    transition: color .5s ease;
    position: relative;

    &:hover {
    color: $accent;
      .products__arrow {
        fill: $accent;
      }
    }
    @include for-tablet-portrait-up {
      font-size: 12px;
      padding: 10px 43px 12px 14px;
    }
  }

  &__arrow {
    width: 22px;
    height: 9px;
    fill: #436372;
    position: absolute;
    top: 24px;
    right: 18px;
    transition: fill .5s ease;
    @include for-tablet-portrait-up {
      top: 14px;
      right: 10px;
    }
  }
}

.filter {
  display: flex;
  justify-content: center;
  @include for-phone-only {
    flex-wrap: wrap;
  }

  &__btn {
    line-height: 1;
    background-color: #ffffff;
    @extend %dmsans-700;
    margin-bottom: 80px;
    color: #8b8b8b;
    transition: color .5s ease;
    @include for-tablet-medium-up {
      margin-bottom: 40px;
    }
    @include for-tablet-portrait-up {
      margin-bottom: 20px;
    }
  }

  &__btn:hover,
  .mixitup-control-active {
    color: $title;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}